<div class="container d-flex justify-content-start flex-row">
   <div class="all-users col-30">
    <h3><%= link_to 'All Conversations', conversations_path %></h3>
    <hr>
    <h3>Contacts</h3>
    <%= render 'users/card_friends', users: @users  %>
  </div>

  <div class="col-70">
    <h1>New message to <%= @receiver.username %></h1>

    <%= form_for @message do |f| %>
      <%= hidden_field_tag 'receiver_id', @receiver.id %>

      <%= f.text_area :body %>
      <br>
      <%= f.submit %>
    <% end %>
  </div>
</div>