<h1>Chatting with <%= @conversation.with(current_user).username %></h1>

<!-- render all existing messages, then a form to add more messages -->
<div id="conversation-main">
  <div id="conversation-body">
    <%= render 'messages/messages', messages: @conversation.messages %>
  </div>

  <%= form_for @message do |f| %>
    <%= hidden_field_tag 'conversation_id', @conversation.id %>
    <%= f.label :body %>
    <%= f.text_area :body %>

    <%= f.submit %>
  <% end %>
</div>
