<div class="container">
    <div class="page-header">
        <div class="page-header-text">
        <h2 class="display-4"><%= @user_showroom.username %> Showroom</h2>
        <hr class="my-4">
        <p>Welcome to <%= @user_showroom.username %> Showroom!</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Contact Seller</a>
        </p>
        </div>
    </div>

    <div class="card-deck d-flex flex-row justify-content-start align-items-stretch flex-wrap"> 
    <% @user_dresses.each do |dress| %> 
        <div class="card mb-4" style="width: 270px;">
            <%= link_to image_tag(dress.picture, :alt => "Wedding Dress", class: "card-img-top"), dress_path(dress) if dress.picture.attached? %>

            <div class="card-body">
                <h5 class="card-title">
                <%=link_to dress.name, dress_path(dress)%>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted"><%=dress.color%></h6>
                <p class="card-text mt-2">AUD$<%=dress.price %></p>
                <% if dress.user == current_user %>
                <%=link_to 'Edit', edit_dress_path(dress), class: "btn btn-warning"%>
                <%=link_to 'Delete', dress_path(dress), class: "btn btn-danger", method: "delete", data: { confirm: "Are you sure?" }%>
                <% else %>
                <%=link_to 'Buy now', dress_path(dress), class: "btn btn-primary"%>
                <% end %>
            </div>
        </div> 
    <%end%> 
    </div> 
</div>