<div class = "container">
    <h1>Account Management</h1> 
    <div class="sidebar">
        <%= link_to 'Account Information', profile_path %>
        <%= link_to 'Purchases history', purchases_path %>
        <%= link_to 'Sales history', sales_path, class: 'active' %>
        <%= link_to "#{current_user.username.capitalize}'s showroom", user_path(current_user.id) %>
    </div>
    <div class="content">
        <h3>All Sales</h3>
        <%= render 'form', transactions: @sales %>
        <%= link_to 'Back to previous', :back, class:"btn btn-outline-info" %>
    </div>
</div>