<%= form_with(model: dress, local: true) do |form| %>
  <% if dress.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dress.errors.count, "error") %> prohibited this wedding dress from being saved:</h2>

      <ul>
        <% dress.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", placeholder: "Ball-Gown/Princess Sweetheart Court Train Tulle Wedding Dress" %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.select :category_id, options_for_select(@categories.map{|category| [category.name, category.id]}), {}, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color, class: "form-control", placeholder: "Ivory" %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.select :size, options_for_select(["4","6","8","10","12","14","16 or above"]), {}, class: "form-control"%>

  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, class: "form-control", step: :any %>
  </div>

  <div class="field">
    <%= form.number_field :user_id, value: current_user.id, type: :hidden %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.file_field :picture, accept: 'image/png, image/jpg, image/jpeg' %>
  </div>
  <br>

  <div class="actions">
    <%= form.submit class: "btn btn-secondary" %>
  </div>
<% end %>