<%= form_with(model: dress, local: true) do |form| %>
  <% if dress.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dress.errors.count, "error") %> prohibited this wedding dress from being saved:</h2>

      <ul>
        <% dress.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.select(:category_id, @categories.map{|category| [category.name, category.id]}) %>
  </div>


  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>

  <div class="field">
    <%= form.label :size %>
    <%= form.text_field :size %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, in: 1.00..99999999.95, step: 0.01%>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.file_field :picture, accept: 'image/png, image/jpg, image/jpeg' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>