<p id="notice"><%= notice %></p>
 
 <div class="container">
 <h1> Wedding dresses! </h1>
  <div class="card-deck"> 
    <% @dresses.each do |dress| %> 
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%=dress.name%></h5>
            <p class="card-text mt-2">Color: <%=dress.color %></p>
            <h4 class="card-text">Price: AUD$<%=dress.price%></h5>
            <a href="#" class="btn btn-primary">Buy</a>
          </div>
        </div>
    <%end%> 
  </div>

<%= link_to 'New Wedding Dress', new_dress_path, class:"btn btn-secondary" %>

