
<div class="d-inline-flex p-2 flex-wrap align-items-start">
  <%= image_tag @dress.picture, style: 'height:500px;width:auto;' if @dress.picture.attached? %>
  <div class="show-info">
    <h4> <%= @dress.name%> </h4>
    <h5> <%= @dress.category.name%> </h5>
    <p>Color: <%= @dress.color %></p>
    <p>Size: <%= @dress.size %></p>
    <p>Price: <strong>AUD$ <%= (@dress.price)/100 %></strong></p>
    <p>Seller: <%= @dress.user.username %></p>
    <p>Product Description: <%= @dress.description %></p>
    <% if @dress.user == current_user %>
    <%=link_to 'Edit', edit_dress_path, class: "btn btn-warning"%>
    <%=link_to 'Delete', dress_path, class: "btn btn-danger", method: "delete", data: { confirm: "Are you sure?" }%>
    <% else %>
    <a href="#" class="btn btn-success">Buy</a>
    <% end %>
    <%= link_to 'Back', dresses_path, class:"btn btn-info" %>
  </div>
</div>
